.editorContainer {
  width: 700px;
  min-height: 100px;
  border-radius: 0 0 3px 3px;
  background-color: #fff;
  padding: 5px;
  font-size: 17px;
  font-weight: 300;
  box-shadow: 0px 0px 3px 1px rgba(15, 15, 15, 0.17);
  margin: 40px 50px;
}

.appWrapper {
  min-width: 700px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-top: 3em;
}

.toolbarContainer {
  margin-left: 40px;
}